* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header{
    background-color: black;
    height: 17vmin;
    width: 100%;

    img{
        width: 11vmin;
        height: 11vmin;
        float: left;
        margin-top: 3vmin;
        border-radius: 50%;
        margin-left: 5vmin;
    }
    span {
        display: inline-block;
        margin-left: 5vmin;
        color: #E2B808; /* Hex code for E2B808 color */
        font-family:'Poppins', sans-serif;
        font-weight: bold;
        font-size: 2.5vmin;
      }
      button {
        float: right;
        background-color: #E2B808;
        color: black;
        border: none;
        padding: 1.5vmin 4vmin;
        border-radius: 1vmin;
        cursor: pointer;
        margin-top: 2vmin;
        font-family:'Poppins';
        font-weight: bold;
        margin-right: 4vmin;
        font-size: 1vmin;
      }
    }
  main{
    background-color: rgb(158, 20, 15);
    min-height: 100vh;
    padding: 5rem 9% 5rem;
  }
  footer{
    background-color: black;
    height: 40vmin;
    width: 100%;

    .footer-icons {
      display: flex;
      justify-content: center; 
    }
    .footer-icons img {
      width: 8vmin;
      height: 8vmin; 
      padding: 5px;
      margin-top: 2vmin;
      margin-right: 5vmin;

    }
    .fivetext-links {
      display: flex;
      justify-content: center; 
      list-style: none;
      padding: 0;
      margin: 0;
    }
    
    .fivetext-links li {
      margin-right: 8vmin;
      font-family:'Poppins';
      font-size: 3vmin;
      margin-top: 3vmin;
    }
    .twotext-links {
      display: flex;
      justify-content: center; 
      list-style: none;
      padding: 0;
      margin: 0;
    }
    
    .twotext-links li {
      margin-right: 8vmin;
      margin-top: 3vmin;
      font-family:'Poppins';
      font-size: 3vmin;
    }
    .Copyright {
      display: flex;
      justify-content: center; 
      list-style: none;
      padding: 0;
      margin: 0;
      font-family:'Poppins';
      font-size: 3vmin;
      color: white;
      margin-top: 6vmin;
    }

    a {
      text-decoration: none; 
      color: white;
    }
    
    a:visited {
      color: white;
    }
  }

/* changes start here*/

/* section {
  min-height: 100vh;
  padding: 5rem 9% 5rem;
} */

.edit-profile {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  background-color: var(--bg-color);
  font-family: 'Poppins';
}

.edit-profile .user-details h1{
  font-size: 30px;
  font-weight: bolder;
  line-height: 2;
  color: #E2B808;
}

.edit-profile .user-details h2{
  font-size: 20px;
  font-weight: 700;
  font-style: italic;
  line-height: 1;
  padding-bottom: 15px;
  color: #E2B808;
}

/* #change-pict {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#change-pict:hover {
  background-color: #0056b3;
}
*/
#change-pict-in {
  display: none;
} 

.edit-profile .user-img img {
  height: 250px;
  border-radius: 60%;
  position: relative;
}

button {
  width: 200px;
  margin-top: 25px;
  margin-left: 25px;
  padding: 8px;
  color: black;
  background-color: #E2B808;
  border: 0;
  border-radius: 1vmin;
  font-weight: lighter;
  font-family: 'Poppins';
}

button:hover {
  background-color: #ba9709;
}

.edit-profile .user-form {
  color: white;
  padding-top: 10px;
  padding-bottom: 20px;
}

#input {
  width: 300px;
  margin-bottom: 8px;
  background-color: white;
  border: 0;
  border-radius: 1vmin;
  font-weight: lighter;
  font-family: 'Poppins';
}

.edit-profile .user-form .back-button {
  margin-top: 35px;
  margin-left: 0;
  margin-right: 5px;
  width: 145px;
  background-color: rgb(214, 214, 214);
}

.edit-profile .user-form .back-button:hover {
  background-color: rgb(180, 180, 180);
}

#submit {
  width: 145px;
  margin-top: 25px;
  margin-left: 25px;
  padding: 8px;
  color: black;
  background-color: #E2B808;
  border: 0;
  border-radius: 1vmin;
  font-weight: lighter;
  font-family: 'Poppins';
  margin: 0;
}

#submit:hover {
  background-color: #ba9709;
}

