*{
    font-family: 'Poppins';
}

body {
    background-color: #9E140F;
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end; 
    align-items: flex-start; 
    height: 100vh;
}

.rules-container {
    width: 300px; 
    background-color: #E2E0D8; 
    border-radius: 10px;
    padding: 10px;
    padding-top: 5px;
    box-sizing: border-box;
    position: relative; 
    margin-top: 80px; 
    margin-right: 80px;
}

.rules-container h2 {
    color: #E2B808;
    text-align: left;
    margin-bottom: 16px;
    padding-bottom: 10px;
    position: absolute; 
    top: -55px; 
    left: 50%; 
    transform: translateX(-50%); 
}

.rules-container ol {
    color: black;
    padding-left: 20px;
}

.rules-container li {
    margin-bottom: 8px;
}
